$desktop:1114px;
@mixin desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
} 
#productPage{   
    
#product-header{
    margin: 1rem 0 1rem 1rem;
    h3{
        margin-top:-1rem;
    }
}
#topImg{
    display: flex;
    justify-content: center;
    
    img{
        width: 180px;
        height: 180px;
        @include desktop{
            width: 480px;
            height: 480px; 
        }
    }
}
#imgText{
    margin: 1rem 0 0 1rem;
    @include desktop{
    text-align:center;
    }
}
#mainButton{
    display:flex;
    justify-content: center;
    margin:1rem;
    Button{
        width:100%;
        border-radius: 1rem;
        color:black;
        @include desktop{
            width: 15%;
        }
    }
}
#recommendedSection{
    margin:2.5rem 1rem 1rem 1rem;
    h3{
        font-size:1rem;
        margin-bottom: 1rem;
    }
}
#productDescription{
    text-align: center;
    h1{
        font-size:1.5rem;
        font-weight: lighter;
    }
    hr{
        margin:.8rem 9rem;
        background-color:black;
    }
    p{
        margin:1rem;
        @include desktop{
        width:60%;
        margin: 1.5rem auto;
        }
    }
}
#noReviews{
    text-align: left;
    margin:1rem;
        h1{
            font-size:1.5rem;
            font-weight: lighter;
            text-align: center;
        }
        hr{
            margin:.8rem 9rem;
            background-color:black;
        }
}
}

#cartModal{
    margin-top:14rem;
    .modalBtn{
        background-color:#ECEEF0;
        color:black;
        padding:0.5rem 1rem;
        margin:0 .5rem;
        border-radius: .8rem;
        font-size:.8rem;
    }    
    }
   