$desktop:1114px;
@mixin desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
} 
.home-header{
    text-align:center;
    margin: 1rem 0rem;
    font-weight: lighter;
    font-size:1.5rem;
    color:gray;
    @include desktop{
      font-size:3rem;
      margin-top:4rem;
    }
}
#brands-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:0 3rem;
        .brandIcon{
            height: 130px;
            width:130px;
            padding:1rem;
            @include desktop{
                height:260px;
                width:260px;
                margin:4rem
            }
        }
        a:nth-child(odd){
            margin:0 .5rem 1rem 0;
        }
        a:nth-child(even){
            margin:0 0 1rem .5rem;
        }
}
#top-img{
    img{
    width:100%;
    height:auto;
    }
}

