.home-header{
    text-align:center;
    margin: 1rem 0rem;
    font-weight: lighter;
    font-size:1.5rem;
    color:gray;
}
#brands-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
        a:nth-child(odd){
            margin:0 .5rem 1rem 0;
        }
        a:nth-child(even){
            margin:0 0 1rem .5rem;
        }
}
#test{
    z-index:1;
}

