$desktop:1114px;
@mixin desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
} 
#logPage{
    margin-top:1rem;
    #contentBox{
        #signIn{
          padding:4rem 2rem;
          display:flex;
          flex-direction: column;
          text-align:left;
          @include desktop{
            padding:4rem 20rem; 
            height:50rem;
            margin-top:4rem;
          }
          p{
              font-size:1rem;
              margin:.5rem 0 0 0;
              font-weight: lighter;
              span{
                  color:red;
              }
          }
          input{
              border:none;
              background-color:transparent;
              border-bottom:1px black solid;
              margin:.5rem 0;
          }
          input:focus{
              outline: none;
          }
          Button{
              margin-top:2rem;
          }
        }
         p{
            font-size:1rem;
            margin:.5rem 0 0 0;
            font-weight: lighter;
            span{
                color:red;
            }
        }
    }
}