$desktop:1114px;
@mixin desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
} 
#AccountPage{
    font-size:1.5rem;
    @include desktop{
    font-size:2.5rem;
    }
    li{
        color:black;
        list-style: none;
        @include desktop{
            padding:2rem;
        }
    }
    h3{
        margin:1rem;
    }
    .accountIcons{
        margin:0 1rem;
        
    }
    .accountIconsRight{
        float:right;
        margin:.5rem .5rem 0rem 0rem;
    }
}
