#AccountPage{
    font-size:1.5rem;
    h3{
        margin:1rem;
    }
    .accountIcons{
        margin:0 1rem;
        
    }
    .accountIconsRight{
        float:right;
        margin:.5rem .5rem 0rem 0rem;
    }
}