#search-header{
    margin:1rem;
    background-color:transparent;
    border:none;
}
.result-item{
    list-style: none;
    margin-left:1rem;
    font-size:1.5rem;
       .search-img{
           float:left;
           margin-right:3rem;
       }
       .float-clear{
        clear:left; 
       }
}
#search-buttons{
    display:flex;
    justify-content: center;
    // margin-bottom:15rem; need to fix footer position

        .searchButton{
            margin: 0 .5rem 1rem .5rem;
            width:30%;
            background-color:#ECEEF0;
            color:black;
        }
}

