#search-header{
    margin:1rem;
    background-color:transparent;
    border:none;
}
.result-item{
    list-style: none;
    margin-left:1rem;
    font-size:1rem;
    .search-item-info{
        padding-top:8%;
    }
       .search-img{
           float:left;
           margin-right:3rem;
           width:40%;
           height:auto;
       }
       .float-clear{
        clear:left; 
       }
}
#search-buttons{
    display:flex;
    justify-content: center;

        .searchButton{
            margin: 0 .5rem 1rem .5rem;
            width:30%;
            background-color:#ECEEF0;
            color:black;
        }
}
Button{
    background-color: transparent;
    border:none;
}
