$desktop:1114px;
@mixin desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
} 
#orders{
    padding:1rem;
    #orderList{
        list-style: none;
        .order{
           color:black;
           .listContent{
            display:flex;
            margin:1rem 0;
           img{
            width: 180px;
            height: 180px;
           }
           }
           p{
               margin:2rem 0 0 1rem;
               font-size:2rem;
               @include desktop{
                   margin: 0;
                margin-top:2rem;
                font-size:2rem;
            }
           }
           p:hover{
            text-decoration: none;
        }
          h6{
            margin:1.5rem 0 0 10rem;
            @include desktop{
                margin-left:90%;
            }
            }
        }
    }
}

#specific-order{
    #order-detail{
    margin:1rem;
    border:1px gray solid;
    padding:1rem;    
    border-radius: 1rem;  
    }
    p{
        margin-left:1rem;
    }
}