$desktop:1114px;
@mixin desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
} 
#shoppingCart{
    @include desktop{
        padding:0 8rem;
    }
    #backBtn{
        margin:1rem 0 0 1rem;
    }
    #emptyCart{
        margin:1rem;
        font-size:1.5rem;
    }
    #cartHeading{
        margin:1rem 0 0 1rem;
        display: flex;
        justify-content: space-between; 
        button{
            margin:1rem 1rem 0 0;
            text-decoration: underline;
        }
    }
    #cartList{
        display:flex;
        flex-direction: column;
        align-items: center;
        .cartItem{
            list-style: none;
            hr{
                width:90%;
                text-align: center;
                margin: 1rem auto;
            }
            img{
                float:left;
                margin-right:1rem;
                padding:1rem;
                width:30%;
                height:auto;
            }
            .productCardContent{
                .cartDelete{
                    float: right;
                    border:none;
                    background: transparent;
                    margin-left:10.5rem;
                }
                h1{
                    font-size:1rem;
                    margin-top:1rem;
                    margin-bottom:0;
                }
            }
        .bottomCardContent{
            display:flex;
            .quantityBtnGroup{
                display: flex;
                font-size:1rem;
                height:1.5rem;
                margin-right:2.2rem;
                button{
                    width:1.5rem;
                    background-color:#ECEEF0;
                }
                input{
                    width:2rem;
                    text-align:center;
                    border: 1px #ECEEF0 solid
                }
            }
        }
        }
    }
    #bottomCart{
        #cartSubtotal{
            display: flex;
            justify-content: space-between;
            margin:2.5rem 1rem 0 1rem;
            }
        #bottomButton{
        display: flex;
        justify-content: center;
        a{
            width:100%;
            margin:0 1rem 1rem 1rem;
            padding:1rem;
            border:1px solid #28a745;
            border-radius: 1rem;
            text-align: center;
            background-color: transparent;
        }
        }
    }
}
