#addressBook{
    padding:1rem;
    h2{
        margin-bottom:1rem;
    }
    Button{
        width:100%;
    }
.address{
    list-style: none;
    border:1px solid #d3d3d3;
    padding:1rem;
    margin-top:1rem;
    box-shadow: 6px 6px 20px -8px #c4c2c2;
    p{
        margin:0;
        }
    .bottomButtons{
        display: flex;
        justify-content: space-between;
            .listButton{
                width:40%;
                margin-top:1rem;
            }
        }
    }
}
#addressModal{
    padding:8rem .2rem;
    h3{
        text-align: center;
        margin-top:1rem;
    }
}
form{
    display:flex;
    flex-direction: column;
    padding:1.5rem;
    input:focus{
        outline: none;
    }
    .inputAddressAdd{
        border:none;
        background-color:transparent;
        border-bottom:1px black solid;
        margin:.5rem 0;
        align-content: center;

        }
}
