#mainContent{
    Button{
        margin-bottom:1rem;
    }
    #shippingAddress{
        h3{
            margin-left:1rem;
        }
        button{
            margin-left:1rem;
        }
        #addressList{
            .address{
                display:flex;
                padding:1rem;
                line-height: 50%;
                margin: 0 1rem 1rem 1rem;
                border:1px gray solid;
            }
            input{
                margin:1rem;
                border-radius: 50%;
                height:1.5rem;
                width:1.5rem;
            }
        }
    }
    #bottomCheckOut{
        display: flex;
    #paymnetButton{
        margin:0 1rem 1rem 1rem;
            width:100%;
            padding:1rem;
            border:1px solid #28a745;
            color:#28a745;
            border-radius: 1rem;
            text-align: center;
            background-color: transparent;
    }
}
}